a{
    text-decoration: none;
    color: #476481;
    font-weight: bold;

}

 a:hover {
    color: #476481;
    font-weight: bolder;
    text-decoration: underline;
}

h1, h2{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
}

h3,h4,h5,h6{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    color: slategray;
}

body{
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.intro {
    margin:auto;
    margin-bottom: 50px;
}

.intro header h1 {
    background: url('katt.jpg') no-repeat center;
    height: 500px;
    text-align: center;
    vertical-align: bottom;
}

.intro header h2 {
    width: 100%;
    margin:0;
    text-align: center;
    padding: 10px;
    padding-top: 100px;
    background-color: #FFEBF8;
}
#zen-supporting{
    width: 100%;
    margin: 0;
}
.summary{
    width: 100%;
    margin: auto;
    padding:10px;
    background-color: #FFEBF8;
}
.summary p{
    width: 60%;
    margin: auto;
    padding: 5px;
    background-color: #FFEBF8;
}

.preamble {
    width: 100%;
    margin: auto;
    padding: 10px;
    padding-bottom:100px;
    background-color: #FFEBF8;
}
.preamble h3{
    width: 60%;
    margin: auto;
    padding:20px;
    background-color: #FFEBF8;
}
.preamble p{
    margin: auto;
    width: 60%;
    padding: 5px;
    background-color: #FFEBF8;
}

.explanation {
    width: 35%;
    float: right;
    margin-right: 10%;
    margin-bottom: 200px;
}

.participation {
    margin-top: 120px;
    width: 35%;
    margin-left: 10%;
}
.benefits{
    padding-top: 120px;
    clear: both;
    padding-bottom: 100px;
    background: url('totoro.jpg') no-repeat right bottom;
    background-color: black;
}
.benefits h3{
    margin-left: 10%;
    color: white;

}

.benefits p{
    margin-left: 10%;
    width: 60%;
    color: white;
}



.requirements {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 65%;
    margin: auto;
}

.requirements h3{
    text-align: center;
}

.requirements p:nth-child(5){
    padding-bottom: 60px;
    background: url("dustbunnies.jpg") no-repeat bottom center;
}
.requirements p:nth-child(6){
    width: 60%;
    margin: auto;
    font-size: 0.8em;
}

footer{

    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgba(197, 242, 236, 0.64);
}




footer a{
    margin: 20px;
    color: gray;
    text-decoration: none;
    text-transform: uppercase;

}
footer a:hover{
    margin: 20px;
    color: #363636;
    text-decoration: none;
    font-weight: bold;

}
.wrapper{
    width: 65%;
    margin: auto;

}

.design-selection {
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 40%;
    float: left;
}


.design-selection ul {
    padding: 0;
}

.design-selection ul li {
    list-style: none;

}
.design-selection ul li a{
    text-decoration: none;
}
.design-name {
    display: block;
    font-weight: bold;
    color: cadetblue;

}
.designer-name {
    color: black;
}

.designer-name:hover{
     color: #476481;

}

.design-archives{
    margin: auto;
    padding-top: 100px;
    width: 40%;
    float: right;
}

.design-archives ul{
    list-style: none;
    padding:0;
    display: block;
}
.design-archives ul li a{
    text-decoration: none;
    color: cadetblue;
}

.design-archives ul li a:hover{
    color: #476481;
}
.zen-resources{
    margin: auto;
    width: 40%;
    float: right;
}
.zen-resources ul{
    padding:0;
    list-style: none;
}
.zen-resources ul li a{
    text-decoration: none;
    color: cadetblue;
}

.zen-resources ul li a:hover{
    color: #476481;
}