h1,h2,h3,h4,h5,h6{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    //letter-spacing: 1px;
    font-weight: bold;
}

body{
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.intro {
    width: 100%;
    margin:auto;
    margin-bottom: 50px;
}

.intro header h1 {
    background: url('katt.jpg') no-repeat center;
    height: 500px;
    text-align: center;
    vertical-align: bottom;
}

.intro header h2 {
    margin:0;
    text-align: center;
    background-color: gray;
    padding: 10px;
    padding-top: 100px;
    background-color: #FFEBF8;
}
.summary{
    width: 100%;
    background-color: gray;
    margin: auto;
    padding:10px;
    background-color: #FFEBF8;
}
.summary p{
    width: 60%;
    margin: auto;
    padding: 5px;
    background-color: #FFEBF8;
}

.preamble {
    background-color: gray;
    width: 100%;
    margin: auto;
    padding: 10px;
    padding-bottom:100px;
    background-color: #FFEBF8;
}
.preamble h3{
    width: 60%;
    margin: auto;
    padding:20px;
    background-color: #FFEBF8;
}
.preamble p{
    margin: auto;
    width: 60%;
    padding: 5px;
    background-color: #FFEBF8;
}

.explanation {
    width: 35%;
    float: right;
    margin-right: 10%;
    margin-bottom: 200px;
}

.participation {
    margin-top: 120px;
    width: 35%;
    margin-left: 10%;
}
.benefits{
    padding-top: 120px;
    clear: both;
    padding-bottom: 100px;
    background: url('totoro.jpg') no-repeat right bottom;
    background-color: black;
}
.benefits h3{
    margin-left: 10%;
    color: white;

}

.benefits p{
    margin-left: 10%;
    width: 60%;
    color: white;
}

.requirements {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 65%;
    margin: auto;
}

.requirements h3{
    text-align: center;
}

.requirements p:nth-child(5){
    padding-bottom: 60px;
    background: url("dustbunnies.jpg") no-repeat bottom center;
}
.requirements p:nth-child(6){
    width: 60%;
    margin: auto;
    font-size: 0.8em;
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgba(197, 242, 236, 0.64);
}




footer a{
    margin: 20px;
    color: gray;
    text-decoration: none;
    text-transform: uppercase;

}
footer a:hover{
    margin: 20px;
    color: #363636;
    text-decoration: none;
    font-weight: bold;
}